<div class="login-section">
    <div class="container ml-4 align-self-sd-start align-self-md align-self-ld-end">
        <div class="icon">
          <a aria-label="Home" class="logo" routerLink=' '>
            <img src=".\assets\logo1.png" alt="Threadboard Logo" class="threadboard-icon-img">
          </a>
        </div>
        <h2 class="threadboard-text" id="threadboard-text">threadboard</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group row">
                <label for="user_name" class="form-label">"thread" код</label>
                <div class="col-md-6">
                    <input type="text" id="user_name" class="form-control" style=" outline: none;
                    box-shadow: none;"  [formControlName]="'username'" name="user_name" required>
                        <span *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched">
                            Введите нормальный код, пожалуйста (◎ ◎)ゞ
                        </span>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="form-label">секретный код</label>
                <div class="col-md-6">
                    <input type="password" id="password" class="form-control" style=" outline: none;
                    box-shadow: none;"  [formControlName]="'password'" name="password" required>
                    <span *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">
                        Введите нормальный код, пожалуйста (◎ ◎)ゞ
                    </span>
                </div>
            </div>

            <span class="col-md-6">
                <button type="submit" class="login" routerLink="loggedin">
                    Войти в мир
                </button>
                <span style="padding-left: 15px">Новенький? <a routerLink="/sign-up" class="link">Да, я новенький!</a></span>
            </span>
             @if (this.isError) {  
            <div class="login-failed">
                 <p class="login-failed-text">Не получилось... ヽ(ー_ー )ノ</p>
            </div> }                      
        </form>
    
</div>
