<div class="row post" *ngFor="let post of posts">
  @if( isPostCountGreaterThanThree()){
    <style>
      body{
        overflow-y: visible !important;
      }
    </style>
  }
  <div class="col-md-1">
    <app-vote-button [post]="post"></app-vote-button>
</div>
    <div class="col-md-11">
      <span class="subthread-info">
        <span class="subthread-text"><a class="posturl" routerLink="">{{post.subthreadName}}</a></span>
        <span class="usernamespan"> . Запостил(-а) <a class="username" routerLink="/user-profile/{{post.username}}">{{post.username}}</a></span>
        <span class="durationspan"> . {{post.duration}}</span>
      </span>
      
      <div class="post-title">
        <a class="postname" href="{{post.url}}">{{post.postName}}</a>
      </div>
      <div class="post-text">
        <p class="post-text" [innerHTML]="post.description"></p>
        <!-- {{post.description}} -->
      </div>
      
      <span>
        <a class="btnCommments" role="button" (click)="goToPost(post.id)">
          <button class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
              <path d="M2 4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.414l-2.293 2.293A1 1 0 0 1 5 14.586V13H3a1 1 0 0 1-1-1V4z"/>
              <path d="M4 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM7 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM10 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>
          </button >
          Комментарии {{post.commentCount}}
        </a>
        <button class="login" (click)="goToPost(post.id)">
          Читать
        </button>
      </span>
    </div>
  </div>