 .post{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color:#181818;
    background-blend-mode: soft-light;
    backdrop-filter: opacity(90%);
    color: #878A8C;
    position: relative;
    border-radius: 23px;
    padding: 15px;
    text-decoration: none;
    max-width: 650px;
}

.login{
    margin-left: 15px;
    color: #31F188;
    border-radius: 22.5px !important;
    background-color: transparent;
    border-color: #31F188;
    border: 1px solid #31F188;
}
.btnCommments{
    
    border-radius: 2px solid;       
    color: #87848c;
    opacity: 1;
    font-size: 14px;
    text-decoration: none;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.post-title{
    font-size: 22px;
    font-weight: bold;
    opacity: 1;
}

.posturl, .postname{    
    color: white;
    text-decoration: none;
}

.subthread-text{
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}
.usernamespan{
    font-size: 14px;
    text-decoration: none;
}
a.username{
  text-decoration: none;
  color: #31F188;
}
.post-text{
    margin-top: 10px;
    font-size: 14px;
    color: aliceblue;
}
.durationspan{
    font-size: 14px;
}
