<div class="sidebar">
    <!-- <img src="../../../assets/logo1.png" class="logo"> -->
    <div style="text-align: center; font-size: 12px; color: #404040; margin-bottom: 15px;">Добро пожаловать на домашнюю страницу Threadboard. Приходите сюда
        и читайте ваши любимые сабтреды.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Создать пост</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubthread" (click)="goToCreateSubthread()">Создать сабтред</button>
    </div>
</div>

