.post-title {
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
    text-decoration: none;
    color: aliceblue;
  }
  
  #body{
    overflow-y: visible !important;
  
    background-color: #1B1B1B;
    height: 100%;
    max-height: 5000px ; 
    background-image: url('../../../assets/BG.png') !important;
    background-repeat: no-repeat;
    background-position: left -214px bottom -220px;;
    background-blend-mode: soft-light;
    background-size: 40%;
    text-decoration: none;
    color:#fff;
    
    
  }
  html{
    background-color: #1B1B1B;
    height: 100%; 
    background-image: url('../../../assets/BG.png') !important;
    background-repeat: no-repeat;
    background-position: left -214px bottom -220px;;
    background-blend-mode: soft-light;
    background-size: 40%;
    text-decoration: none;
    color:#fff;
  }
  .post-title:hover {
    opacity: 0.6;
    text-decoration: none;

  }
  
  .subthread-text {
    font-weight: bold;
    text-decoration: none;


  }
  
  .post-url {
    color: #31F188;
    text-decoration: none;

  }
  
  .username{
      color: gray;
      text-decoration: none;

  }
  
  .post-text{
      margin-top: 10px;
      text-decoration: none;

  }
  
  .post{
      margin-top: 10px;
      margin-bottom: 10px;
      overflow: hidden;
      background-color: transparent;
      color: #878A8C;
      position: relative;
      border-radius: 22.5px !important;
      text-decoration: none;

      padding:5px;
  }
  
  .comment{    
      border: 1px solid #404040;   
      margin-bottom: 10px;
      overflow: hidden;
      background-color: transparent;
      color: #31F188;
      text-decoration: none;
      margin-top: 20px;
      position: relative;
      border-radius: 22.5px !important;
      padding: 10px;
      max-width: 300px;
      width: 288px;
      height: auto;
      word-break: break-all;
  }
  .form-control{
    height: 25vh;
    background-color: transparent;
  }
  .comment-duration{
    font-size: 14px;
  }
  .comment-text{
    font-size: 16px;
    color: aliceblue;
    font-weight: 200 !important;
  }