<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="create-post-container col-md-9">
        <form [formGroup]="postCreateForm" class="post-form" (ngSubmit)="postCreate()">
          <div class="form-group">
            <div class="create-post-heading">Создать пост</div>
            <input type="text" [formControlName]="'postName'" class="form-control" style="margin-top: 5px"
              placeholder="название">
  
            <input type="text" class="form-control" [formControlName]="'url'" style="margin-top: 5px" placeholder="URL">
  
            <select class="form-control" style="margin-top: 10px" [formControlName]="'subthreadName'">
              <option value="" selected disabled>выбрать сабтред</option>
              <option *ngFor="let subthread of subthreads">{{subthread.name}}</option>
            </select>
  
            <editor apiKey="deeepb3sdyrjg6e9zucqrhhiu499ldi3im3e0ed21yjg0ekw" class="editor" [formControlName]="'description'" [init]="{
                        license_key: 'gpl',
                        selector: 'editor',
                        base_url: '/tinymce',
                        suffix: '.min',
                        autoresize_bottom_margin: 50,
                        theme: 'silver',
                        format: 'text',
                       
                        height: 300,
                        cleanup : true,
                        menubar: false,
                        skin: 'oxide-dark',
                        content_css: 'styles.css',
                        plugins: 'preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons accordion',
                        toolbar: 'undo redo | accordion accordionremove | blocks fontfamily fontsize | bold italic underline strikethrough | align numlist bullist | link image | table media | lineheight outdent indent| forecolor backcolor removeformat | charmap emoticons | code fullscreen preview | save print | pagebreak anchor codesample | ltr rtl',

                      }"></editor>
                      <!-- <textarea type="text" [formControlName]="'description'" class="text"     placeholder=" описание"></textarea> -->
            <span>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discardPost()" class="btnDiscard">Отмена</button>
                <button  class="btnCreatePost">Создать</button>
              </div>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>